* {
    color: blue;
    background-color: beige;
}


h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
}

.grupo1 {
    font-style: italic;
}

.grupo2 {
    color: brown;
}

#titulo {
    font-size: 50px;
}

input[type] {
    border-color: orange;
}

input[type="email"] {
    background-color: rgb(93, 63, 7);
    color: #fff;
}

[class*="g"] {
    font-size: 40px;
}
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor h3 {
    color: red;
}

.contenedor>p {
    color: green;
}


h3+p {
    color: rgb(66, 183, 212);
}

.hermano ~ p { /* todos los hermanos */
     color: rgb(245, 165, 3);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:brown;
}

.card-title {
    color: purple;
}

.card-link {
    font-size: 10px;
}

.container-fluid {
    background-color: blue;
    height: 10px;
}

.col {
    background-color: red;
}